---
const { title = "Portfolio", description = "", lang = "en" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content={lang === "el" ? "el_GR" : "en_US"} />

</head>

  <body>
    <slot name="header" />

    <main class="bg-neutral-950">
      <slot />
    </main>

    <slot name="footer" />
  </body>
</html>

<style>
  html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
</style>