---
const { lang = "en", t } = Astro.props;
const base = `/${lang}`;
---

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">{t.hero.title}</h1>
    <p class="hero-tagline">{t.hero.tagline}</p>
    <a href=`${base}#projects` class="cta-button-project">{t.hero.ctaProjects}</a>
    <a href=`${base}#contact` class="cta-button-contact">{t.hero.ctaContact}</a>
  </div>
</section>

<style>
  .hero {
    padding: 10rem 2rem 6rem;
    text-align: center;
    background: linear-gradient(180deg, #0e0e0e, #1a1a1a);
    color: #ffffff;
  }

  .hero-title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .hero-tagline {
    font-size: 1.4rem;
    opacity: 0.8;
    margin-top: 0.5rem;
  }

  .cta-button-project {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 1.8rem;
    font-size: 1.1rem;
    border-radius: 6px;
    background: #00060f;
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
  }

   .cta-button-contact{
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.8rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    border-radius: 6px;
    background: #ccc;
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
   }

  .cta-button-project:hover{
    background: #011133;
  }

   .cta-button-contact:hover {
    background: #fffefe;
   }
</style>